<!-- DOCTYPE html -->
<html>
  <head>
    <!-- Uniocde -->
    <meta charset="utf-8">
    <!-- IE Compatiblity -->
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <!-- First Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Of template -->
    <title>Business Profile</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
    
  </head>
  <body>
    <!-- Start Main Wrapper -->
    <div id="main-wrapper">
        <!-- Start Header -->
        <header id="top-header">
          <nav class="navbar navbar-dark bg-primary">
            <div class="container">
              <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
              <a class="navbar-brand" href="index.html">WEConnect</a>
              <div class="clearfix hidden-lg-up"></div>
              <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                  <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="catalog.html">Catalogue<span class="sr-only">(current)</span></a>
                     </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="register.html">Register Business<span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
              </div>
            </div>
          </nav>
        </header>


      <!-- business profile content -->

      <section id="profile">
        <div class="container">
          <div class="row">
            <!-- first grid bus profile -->
            <div class="col-md-6" id="profileback">
             <h1 id="bprofile">Business Profile</h1>
             <h6>SoleRebels</h6>
             <img src="img/business/footwear.jpg">

             <div class="row float-md-left" id="aboutbusiness">
              <div id="owner" class="row">
                  <label for="owner" class="col-sm-4">Founder:</label>
                  <div class="col-sm-8">Bethlehem Tilahun Alemu</div>
                </div>
                <div id="bus-name" class="row">
                  <label for="bus-name" class="col-sm-4">Business name:</label>
                  <div class="col-sm-8">SoleRebels</div>
                </div>
                <div id="location" class="row">
                  <label for="location" class="col-sm-4"> Location:</label>
                  <div class="col-sm-8">Zenabwork, Addis Ababa</div>
                </div>
                <div id="country" class="row">
                  <label for="country" class="col-sm-4"> Country:</label>
                  <div class="col-sm-8">Ethiopia</div>
                </div>
                <div id="category" class="row">
                  <label for="category" class="col-sm-4"> Category:</label>
                  <div class="col-sm-8">Clothing</div>
                </div>
                <div id="website" class="row">
                  <label for="website" class="col-sm-4">Website:</label>
                  <div class="col-sm-8">www.solerebels.com</div>
                </div>
             </div>  


            </div>




            <!-- second grid Review profile-->
            <div class="col-md-6" id="review">
              <h2 id="breview">Business Description</h2>
              <p >SoleRebels – is one of the most popular and fastest-growing African footwear brands in the world! Her collection of eco-friendly footwear (made from recycled materials) have been sold in more than 50 countries across the world, including the USA, Canada, Japan and Switzerland.</p>
              <p>But her business dream would have never have taken off without the $10,000 in capital she raised from family and relatives in 2004.</p>
              <p>Despite her poor background, it was possible to get her family and relatives to pitch in their contributions. This is the not-too-glamourous part of getting a business off the ground that glossy magazines fail to mention.</p>
              <p>Success comes at a price. It may be embarrassing and downright difficult to ask other people to invest in your business idea, dream, vision or project. But you just have to do it if you want to stand a chance.</p>
              <p>Using that initial capital, Bethlehem’s business took off and she has gone ahead to launch another fashion business – Republic of leather —  that trades in luxury leather products like bags, belts and other non-footwear leather accessories.</p>
              <p>Her inspiring success story has been featured on Forbes, the BBC and CNN. And she was described by Forbes as ‘One of The World’s Most Powerful Women’.</p>
            </div>
          </div>
        </div>
      </section>



      <section id="faq-slide" class="inner-section">
          <div class="container">
            <div class="row">
              <div class="place-head">
                <h2 class="section-head">Business Reviews</h2>
                
              </div>
            </div>
            <div class="row">
              <div class="faqs-area">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h5 class="mb-0">
                          Optimist Review <span class="tag tag-pill tag-default">1</span>
                        </h5>
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="card-block">
                        Great Men
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h5 class="mb-0">
                            Seun Review  <span class="tag tag-pill tag-default">2</span>
                        </h5>
                      </a>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="card-block">
                        Well done CEO
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h5 class="mb-0">
                            Optimist Review <span class="tag tag-pill tag-default">3</span>
                        </h5>
                      </a>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="card-block">
                        Awesome work
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingFour">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <h5 class="mb-0">
                            Optimist Review  <span class="tag tag-pill tag-default">4</span>
                        </h5>
                      </a>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="card-block">
                        Great Job
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



      <footer>
        <div id="footer">
          <div class="container">
            <div class="row">
              <p class="col-xs-12 text-xs-center ">&copy; WEConnect 2018</p>
            </div>
          </div>
        </div>
      </footer>



     <!-- Js Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>