<!-- DOCTYPE html -->
<html>
  <head>
    <!-- Uniocde -->
    <meta charset="utf-8">
    <!-- IE Compatiblity -->
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <!-- First Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Of template -->
    <title>SignIn Page WEConnect</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
    
    
  </head>
  <body>
    <!-- Start Main Wrapper -->
    <div id="main-wrapper">
      <!-- Start Header -->
      <header id="top">
        <nav class="navbar navbar-dark bg-faded">
          <div class="container">
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
            <a class="navbar-brand" href="index.html">WEconnect</a>
            <div class="clearfix hidden-lg-up"></div>
          </div>
          </div>
        </nav>
      </header>


      <section id="signin">
        <form>
          <h4>Account Login</h4>
          <div class="form-row">
            <div class="col-md ">
              <input type="text" class="form-control" placeholder="username" required>
            </div>
            <div class="col-md">
              <input type="password" class="form-control" placeholder="password" required>
            </div>
              <div class="col-md" id="signinbutton">
              <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
           </div>
           <div class="col-md" id="tag">
             New to this platform? <a href="signup.html">Sign Up</a>
           </div>
          </div>
        </form>
      </section>

      <footer>
        <div id="footer">
          <div class="container">
            <div class="row">
              <p class="col-xs-12 text-xs-center ">&copy; WEConnect 2018</p>
            </div>
          </div>
        </div>
      </footer>



     <!-- Js Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>