body {
  font-family: 'Lato', sans-serif;
}
h1,h2, h3, {
  font-family: 'Montserrat', sans-serif;
}

h1{
  opacity: 0.5px;;
}

.inner-section {
  padding: 100px 0;
}
.section-head {
  font-size: 2.75em;
  text-align: center;
  font-weight: bold;
}
#connect{
  padding-bottom: 50px;
  color:#bf360c;
  ;
}
#weconnect{
  padding-bottom: 70px;
  color:#bf360c;
  ;
}

#new{
  color: #bf360c;
}

.star-light {
  height: 5px;
  width: 200px;
  margin: 20px 
  auto;position: 
  relative;display: flex;justify-content: center;align-items: center;}
.star-light:after {
  content: '\f005';
  font-family: 'fontawesome';
  font-style: normal;
  font-weight: 400;line-height: 1;font-size: 30px;padding: 5px;}
.inner-section .star-light {
  margin-bottom: 50px;
}
span.italic {
  font-style: 
  italic;font-size: 14px;color: #999;}
.btn {border-radius: 0;font-weight: bold;}
.btn-outline {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 25px;
  font-size: 20px;
  background-color: transparent;
  margin-top: 20px;}
.btn-outline:hover {
  color: #fff;
}
.no-padding {
  padding: 0 !important;
}
nav{
  height: 80px;
}

#top-header {
  position: fixed;
  top: 0;left: 0;right: 0;z-index: 9;-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);}
#top-header > nav {
  background-color: #2C3E50;
  border-radius: 0;
  padding: 25px 0;
}
#top-header > nav .navbar-brand {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
#top-header > nav .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
#top-header > nav .navbar-nav {
  float: right;
  margin-right: 20px;
  height: 20px;
  line-height: 35px;
}
#top-header > nav form {margin: 8px 0;}
#top-header > nav form input {
  border-radius: 0;border: none;
}
#top-header > nav form button {
  background-color: #18BC9C;color: #fff;
  border: none;
  border-radius: 0;
  font-weight: bold;
}
#top-header > nav form button:hover {
  background-color: #1dd6b2;
}
#top-header.short > nav {
  padding: 10px 0;
}
#top-header.short > nav .navbar-brand {
  font-size: 1.5em;
}
#top-header .navbar-toggler {
  float: right;
}





/* media Responsive */
/* == Max - Width 1439 px == */
@media screen and (max-width: 1439px) {
  #welcome-area .row > div > .intro-text h1 {font-size: 2em;
  }
  #welcome-area .row > div > .intro-text .job-title {
    font-size: 1.25em;
  }
}

/* == Max - Width 991 px == */
@media screen and (max-width: 991px) {
  #welcome-area {
    margin-top: 90px;height: calc(100vh - 90px);
  }
  #top-header > nav .navbar-nav {
    float: none;margin-right: 0;height: auto;line-height: inherit;
  }
  #bottom-footer .footer-above p {
    font-size: inherit;}
  #bottom-footer .footer-above ul li a {
    line-height: 35px;
    height: 40px;
    width: 40px;
  }
 
}
/* == Max - Width 767 px == */

/* == Max - Width 410 px == */
@media screen and (max-width: 410px) {
  #top-header > nav .navbar-brand {font-size: inherit;}
  #about p {
    font-size: 1rem;
  }
}
/* == Max - Width 375 px == */
@media screen and (max-width: 375px) {
  .section-head {font-size: 2rem;}
}

/* Content section */
#mycontent {
  margin-top: 30px;
  height: 600px;
  overflow: hidden;
  background-image: url(../img/business/energy.jpg);
  background-size: cover;
}

.alimi {
  text-align: center;
  color: #fff;
  margin-top: 200px;
  padding: 30px;
}
h3{
  font-style: italic;
}
p {
  font-size: 1.2em;
  font-weight: bold;
}


/* business section */
.inner-section {
  padding: 100px 0;
}
.business-head {
  font-size: 2.75em;
  text-align: center;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 100px;
}



/*signin form css*/
#signin {
  margin-top: 70px;
  height: 518px;
  overflow: hidden;
  background-image: url(../img/business/l2.jpg);
  background-size: cover;
  text-align: center;
  margin-bottom: -20px;

}
#signinbutton{
  margin-top: 15px;
  margin-bottom:-1px;
}

h4{
  margin-top:120px;
  margin-bottom: 20px;
}

#button{
  padding-left: 80px;
  margin-bottom: 30px;
}

input[type=text],input[type=password],input[type=cpassword]{
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-color: #00ccff;
  box-sizing: border-box;
}

#platform{
  padding-left: 100px;
}

#tag{
  margin-bottom:-10px;
}

/*signup form css*/
#signup {
 text-align: center;
 margin-top: 80px;
 margin-bottom: 100px;
 border: solid 1px #000000;
 margin-left: 25%;
 margin-right: 25%;
  
}
#signupbutton{
  margin-top: -3px;
}

h1{
  padding-top: 45px;
}


.carousel-item{ 
  height: 650px;
}


/*catalogue*/
#search {
  margin-top: 69px;
  margin-bottom: -30px;
  height: 535px;
  overflow: hidden;
  background-size: cover;
  text-align: center;
  background-image: url(../img/business/k6.jpg);
}

#catalogbuttun{
  margin-top: -5px;
}

#searchcategory{
  width: 400px;
}
#searchlocate{
  width: 400px;
}

/*register form css*/
#register {
  margin-top: 67px;
  overflow: hidden;
  text-align: center;
  margin-bottom: -24px;
  background-image: url(../img/business/k.jpg);
  background-size: cover;
  height: 530px;
  
}
#registerbutton{
 margin-top: 15px;
}

#textregionregister{
  border-color: #00ccff;
  width: 445px;
  margin: 10px;
}
#textregionupdate{
  border-color: #00ccff;
  width: 440px;
  margin: 10px;
}

.btn{
  margin: 25px;
}


/* solerebels style*/

#profileback{
  background-color: #e6ffff;
  margin-top: 110px;
  border:1px solid #ffffe6;
  height: 70%;
}

img{
  height:150px;
  width: 450px;
}
bprofile{
  margin-top: 5px;
  text-align: center;
}
#profile{
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
  margin-bottom: -35px;
  background-image: url(../img/business/k6.jpg);
  background-size: cover;
  height: 755px;
}
#breview{
  margin-top: 100px;
  text-align: center;
}

h6{
  text-align: center;
}
#aboutbusiness{
  margin:5px;
}

#review{
  font-size: 12px;
  margin-top: -5px;
}

#update{
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
  margin-bottom: -35px;
  background-image: url(../img/business/k6.jpg);
  background-size: cover;
  height: 755px;
  
}
#updatebutton{
 margin-top: -10px;
}
h2{
  padding-top: 50px;
}

#faq-slide{
  background-color: #2c3e50;
}
#faq-slide {
  background-color: #fff;
  color: #2c3e50;
}
#faq-slide .card {
  border-radius: 0; 
  border-color: #42a5f5;
}
#faq-slide .card .card-header {
  background-color: #42a5f5;
  border-radius: 0;
}
#faq-slide .card .card-header a {
  color: #fff;
}
#faq-slide .card .card-header a h5 {
  font-size: 16px;
}
#faq-slide .card .card-header .tag {
  background-color: #fff;
  color: #42a5f5;
}
#faq-slide .card .card-block {
  border-color: #42a5f5;
}

#footer{
  background-color:#42a5f5;
  height: 60px;
  margin-top: 20px;
}

.text-xs-center {
  color: #ffffff;
  margin-top:15px;
}
